<div class="mb-3" *ngIf="authService.isUserLoggedIn() | async">
  <h1>
    {{ authService.user$ | async }}
  </h1>
</div>
<div class="mb-3">
  <h1>Create your own blog</h1>
</div>
<div class="d-flex align-items-center gap-3">
  <h1>Create your own blog post</h1>
  <button [routerLink]="['/post/create']">
    <span class="material-symbols-outlined" style="font-size: 36px">
      add_circle
    </span>
  </button>
</div>

<div class="mt-4">
  <ng-container *appHttpConnectionError="posts$">
    <ng-container *ngFor="let post of posts$ | async">
      <h2>{{ post.title }}</h2>
      <div>{{ post.content }}</div>
    </ng-container>
  </ng-container>
</div>
