<section class="mx-auto grid gap-6 md:grid-cols-3">
  <ng-container *appHttpConnectionError="posts$">
    <ng-container *ngFor="let post of posts$ | async">
      <div class="flex w-full flex-col gap-4">
        <a [routerLink]="['/post', post.id]">
          <img
            class="aspect-video w-full object-cover"
            [src]="imageService.getImageUrl(post.imageId)"
          />
        </a>
        <a [routerLink]="['/post', post.id]">
          <h2 class="mb-2">
            {{ post.title }}
          </h2>
          <div>{{ post.description }}</div>
        </a>
        <div class="text-sm text-gray-400">
          Last updated: {{ post.lastModifiedDate | date: 'medium' }}
        </div>
      </div>
    </ng-container>
  </ng-container>
</section>
