<label for="username" class="mb-1 block"><strong>Username</strong></label>
<div class="flex items-center justify-start">
  <input
    type="text"
    id="username"
    name="username"
    [(ngModel)]="value"
    #input="ngModel"
    autocomplete="off"
    class="rounded border border-black px-3 py-1.5"
    placeholder="Enter username"
    [required]="true"
    [appUsernameValidation]="validate"
  />
  <app-validation-icon
    [ctrl]="input.control"
    [errorMsgs]="errorMsgs"
    [onlyFirst]="true"
  ></app-validation-icon>
</div>
