<app-form-layout
  id="signup"
  [form]="form.control"
  [submitFn]="submitFn"
  [completeFn]="completeFn"
  [errorFn]="errorFn"
>
  <ng-container title>Sign up</ng-container>
  <ng-container form>
    <form id="signup" #form="ngForm" appFormStyling>
      <app-username [(value)]="model.username" [validate]="true"></app-username>
      <app-password [(value)]="model.password" [validate]="true"></app-password>
    </form>
  </ng-container>
</app-form-layout>

<div class="mt-3">
  Have an account? Sign in <a [routerLink]="['/signin']">here</a>
</div>
