<form #form="ngForm" class="w-100 h-100 flex flex-col items-start gap-3">
  <div class="w-100 flex justify-between items-center">
    <div class="flex justify-start items-center w-100 gap-3">
      <h2>Create post</h2>
    </div>
    <app-button (click)="submit()">Create</app-button>
  </div>

  <div class="w-100 flex gap-3">
    <app-input
      id="title"
      label="Title"
      placeholder="Enter title"
      [(value)]="model.title"
    ></app-input>
    <app-input
      id="description"
      label="Description"
      placeholder="Enter description"
      [(value)]="model.description"
      class="w-100"
    ></app-input>
  </div>

  <div class="h-100 w-100 flex flex-col">
    <label for="content" class="mb-1">
      <strong>Content</strong>
    </label>
    <div class="h-100 w-100 border border-black flex flex-col">
      <app-format-options
        class="w-100 border-bottom border-black"
      ></app-format-options>
      <app-textarea
        id="content"
        name="content"
        class="w-100 flex flex-fill"
        [(ngModel)]="model.content"
      ></app-textarea>
    </div>
  </div>
</form>
