<form #form="ngForm" class="flex h-full w-full flex-col items-start gap-3">
  <div class="flex w-full items-center justify-between">
    <div class="w-100 flex items-center justify-start gap-3">
      <h1 class="text-2xl">Create post</h1>
    </div>
    <app-button (click)="submit()">Create</app-button>
  </div>

  <div class="flex w-full gap-3">
    <app-input
      id="title"
      label="Title"
      placeholder="Enter title"
      [(value)]="model.title"
    ></app-input>
    <app-input
      id="description"
      label="Description"
      placeholder="Enter description"
      [(value)]="model.description"
      class="w-full"
    ></app-input>
  </div>

  <div class="flex h-full w-full flex-col">
    <label for="content" class="mb-1 block">
      <strong>Content</strong>
    </label>
    <div
      class="flex h-full min-h-80 w-full flex-col rounded border border-black"
    >
      <app-format-options
        class="w-full border-b border-black"
      ></app-format-options>
      <app-textarea
        id="content"
        name="content"
        class="flex-fill flex w-full"
        [(ngModel)]="model.content"
      ></app-textarea>
    </div>
  </div>
</form>
