<div class="w-100 h-100 d-flex flex-column align-items-start">
  <div class="w-100 d-flex justify-content-between align-items-center">
    <div class="d-flex justify-content-start align-items-center w-100 gap-3">
      <h2>Create post</h2>
      <input
        type="text"
        name="title"
        id="title"
        [(ngModel)]="model.title"
        placeholder="Enter title"
      />
    </div>
    <app-action-button (click)="submit()">Create</app-action-button>
  </div>

  <div class="h-100 w-100 mt-3 border border-black d-flex flex-column">
    <div
      class="actions-bar border-bottom border-black w-100 py-2 d-flex justify-content-start align-items-center gap-2"
    >
      <app-font-size-selector></app-font-size-selector>
      <app-bold></app-bold>
      <app-italic></app-italic>
      <app-underline></app-underline>
      <app-numbered-list></app-numbered-list>
      <app-bullet-list></app-bullet-list>
    </div>
    <textarea
      name="content"
      id="content"
      class="w-100 d-flex flex-fill"
      [(ngModel)]="model.content"
      placeholder="Enter content"
    ></textarea>
  </div>
</div>
