<div
  class="flex items-center justify-center p-2"
  style="width: 40px; aspect-ratio: 1/1"
>
  <span
    class="material-symbols-outlined text-danger"
    [appTooltip]="
      onlyRequired && ctrl.errors && ctrl.errors['required']
        ? requiredMsg.msg
        : onlyFirst
          ? (ctrl.errors | validationMsg: errorMsgs)
          : template
    "
    *ngIf="(ctrl.touched || ctrl.dirty) && ctrl.errors"
    >error</span
  >
  <span
    class="material-symbols-outlined text-success"
    *ngIf="ctrl.value && ctrl.valid"
    >check_circle</span
  >
</div>

<ng-template #template>
  <div class="flex flex-col items-start gap-1">
    <ng-container *ngFor="let msgs of errorMsgs">
      <div class="flex items-center justify-start gap-1">
        <div class="flex items-center justify-center">
          <span
            class="material-symbols-outlined text-danger fs-6"
            *ngIf="ctrl.errors && ctrl.errors[msgs.name]"
            >error</span
          >
          <span
            class="material-symbols-outlined text-success fs-6"
            *ngIf="!ctrl.errors || !ctrl.errors[msgs.name]"
            >check_circle</span
          >
        </div>
        <div class="flex items-center justify-center">
          <span>{{ msgs.msg }}</span>
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>
