<label for="password" class="mb-1 block"><strong>Password</strong></label>
<div class="flex items-center justify-start">
  <input
    type="password"
    id="password"
    name="password"
    [(ngModel)]="value"
    #input="ngModel"
    autocomplete="off"
    class="input"
    placeholder="Enter password"
    [required]="true"
    [appPasswordValidation]="validate"
  />
  <app-validation-icon
    [ctrl]="input.control"
    [errorMsgs]="errorMsgs"
    [onlyFirst]="false"
  ></app-validation-icon>
</div>
