@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'font';
@import 'color';
@import 'gray';
@import 'border';
@import 'button';
@import 'input';
@import 'tooltip';

html,
body {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.noselect {
  @include noselect;
}

.material-symbols-outlined {
  @include noselect;
}
