@import "font";
@import "color";
@import "button";
@import "input";

body {
  font-family: Dosis, Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
